# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Logs
*.log

# MacOS / Windows
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# VSCode or other editor settings
.vscode/
.idea/
